version: "3.8"

services:
  nginx:
    image: nginx:1.25-alpine
    container_name: nginx-proxy
    ports:
      - "80:80"
    volumes:
      # Mount main nginx.conf
      - ../nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      # Mount conf.d folder containing upstream.conf
      - ../nginx/conf.d:/etc/nginx/conf.d:ro
    networks:
      - backend-network

networks:
  backend-network:
    external: true

